<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Home Page</title> 
	{% load static %}
	{% load custom_tags %}
    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 40px;
      }
    </style>
	<link rel="stylesheet" href="{% static 'css/custom.css' %}"> 
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script> 	
</head> 
<body>
	{% include 'navbar.html' %} 
	<div class="container">
      
	<h1 style="padding-bottom: 20px">404 Not Found</h1>
	<p>Oh crud. The page doesn't exist.</p>
        
    {% include 'footer.html' %} 

    </div> <!-- /container -->
</body> 
</html> 
